.HomeDiv1{
    /* position: relative; */
    /* right: 35%; */
    margin-top: 5%;
}

.AboutPage{
    text-align: left;
    position: relative;
    margin-top: 6%;
}

/* .HomeContainer{
    text-align: center;
} */
